aioconsole==0.3.3
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncio==3.4.3
asynctest==0.13.0
attrs==21.2.0
cryptography==36.0.1
pycparser==2.21
pycryptodome
pyOpenSSL
python-binance
python-dateutil
pytz
regex
requests
typing_extensions
tzdata
tzlocal
ujson
urllib3
websockets
binance~=0.3
